@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
    --primary-color: #d3d4d9;
    --secondary-color: #252627;
}
body {
    background-color: var(--secondary-color);
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#header {
    width: 6em;
    font-size: 5em;
}

#name {
    width: 15em;
    font-size: 3em;
}

.highlight {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.blink {
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: var(--secondary-color);
    }
}

a {
    color: dodgerblue;
}
